    {% extends '::base.html.twig' %}


{% block body %}

   
    <div id="h">Modifier votre commentaire</div>

    {{ form(f) }}

        <ul>
    <li>
       
 
</ul>
   
{% endblock %}

         {% block javascripts %}
 <script src="{{ asset('bundles/gvforum/ckeditor/ckeditor.js') }} "> </script>
 {% endblock %}

